<!doctype html>
<html lang="en">
  <head>
    <title>Carlos Lamas</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <link rel="stylesheet" href="/stylesheets/jquery.fancybox.css" />
    <script src="/javascripts/html5.js"></script>
  </head>
  <body>
    <div class="fade"></div>
    <header role="banner">
      <h1><a href="/">Carlos Lamas</a></h1>
      <nav>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <%= yield %>
    </div>
    <footer>
      Footer
    </footer>
    <script src="/javascripts/jquery-1.7.1.min.js"></script>
    <script src="/javascripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
    		$(".thumbnail").fancybox();
    	});
    </script>
  </body>
</html>