<!doctype html>
<html lang="en">
<head>
  <title>Carlos Lamas &mdash; Editor</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="google-site-verification" content="1xf2CrUZy56Pp73b5wKKRJ02x-qZB02S9vtaq9pwwrY" />
  <link rel="stylesheet" href="/stylesheets/screen.css" />
  <!--[if lt IE 9]>
    <script src="/javascripts/html5.js"></script>
    <script src="/javascripts/respond.min.js"></script>
  <![endif]-->
  <%= yield :css %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33827142-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
  <div class="wrapper">
    <header itemscope itemtype="http://schema.org/Person">
      <hgroup>
        <h1 itemprop="name">Carlos Lamas</h1>
        <h2 itemprop="jobTitle">Editor</h2>
      </hgroup>
      <aside><a href="#about" class="about">About</a></aside>
<!--       <ul>
        <li><a href="mailto:carlos@carloslamas.tv" itemprop="email">carlos@carloslamas.tv</a> / </li>
        <li itemprop="telephone"><a href="tel:1-612-424-5143">612.424.5143</a></li>
      </ul> -->
    </header>
    <%= yield %>
  </div>
  <script src="/javascripts/jquery-1.7.1.min.js"></script>
  <script src="/javascripts/jquery.detectmobilebrowser.js"></script>
  <script src="/javascripts/jquery.fancybox.pack.js"></script>
  <script type="text/javascript">
    if ($(window).width() > 767 && jQuery.browser.mobile == false) {
    	$(function() {
    	  jQuery.extend(jQuery.fancybox.defaults, {
          // afterShow: function() {
          //   $('body').toggleClass('fixed');
          // },
          // beforeClose: function() {
          //   $('body').toggleClass('fixed');
          // }
        });
    	  $(".about").fancybox({
          beforeShow: function() {
            $('header h1').toggleClass('raised');
          },
          afterClose: function() {
            $('header h1').toggleClass('raised');
          },
          autoSize: false,
          height: '100%',
    	    helpers: {
            overlay: {
              css: {'background-color': '#4c489e'},
              opacity: 1
            }
          },
          margin: 0,
          maxWidth: 1640,
    		  padding: 0,
          width: '100%',
    		  wrapCSS: 'cover'
        });
    		$(".video").fancybox({
    		  beforeLoad: function() {
            this.title = $(this.element).children('aside').html();
            this.tpl.prev = "<a title='Previous' class='fancybox-nav fancybox-prev'><em></em>" + $(this.element).parent().prev().find('a > aside').html() + "</a>";
            this.tpl.next = "<a title='Next' class='fancybox-nav fancybox-next'><em></em>" + $(this.element).parent().next().find('a > aside').html() + "</a>";
          },
          aspectRatio: true,
    		  height: 540,
    		  loop: false,
          margin: 86,
    		  padding: 0,
    		  width: 960,
    		  helpers: {
            overlay: {
              opacity: 0.9
            },
        		title: {
        			type: 'outside'
        		}
        	}
        });
    	});
    }
  </script>
</body>
</html>
