<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Carlos Lamas</title>
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <script src="/javascripts/html5.js"></script>
  </head>
  <body>
    <header role="banner">
      <h1><a href="/">Carlos Lamas</a></h1>
      <nav>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
      Footer
    </footer>
  </body>
</html>