<!doctype html>
<html lang="en">
<head>
  <title>Carlos Lamas &bull; Editor</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/stylesheets/screen.css" />
  <script src="/javascripts/html5.js"></script>
  <%= yield :css %>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Carlos Lamas</h1>
      <h2>Editor</h2>
      <nav>
        <ul>
          <li class="about"><a href="#about">About</a></li>
          <li class="contact"><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </div>
  <script src="/javascripts/jquery-1.7.1.min.js"></script>
  <script src="/javascripts/jquery.detectmobilebrowser.js"></script>
  <script src="/javascripts/jquery.fancybox.pack.js"></script>
  <script type="text/javascript">
    if(jQuery.browser.mobile == false) {
    	$(function() {
    	  jQuery.extend(jQuery.fancybox.defaults, {

        });
    	  $("nav a").fancybox({
    	    helpers: {
            overlay: {
              css: {'background-color': '#4c489e'},
              opacity: 0.95
            }
          },
          fitToView: false,
          fixed: true,
          maxWidth: '800',
    		  padding: 0,
          // width: '800',
    		  wrapCSS: 'cover'
        });
    		$(".video").fancybox({
    		  aspectRatio: true,
    		  beforeLoad: function() {
            this.title = $(this.element).children('aside').html();
            this.tpl.prev = "<a title='Previous' class='fancybox-nav fancybox-prev'><em></em>" + $(this.element).parent().prev().find('a > aside').html() + "</a>";
            this.tpl.next = "<a title='Next' class='fancybox-nav fancybox-next'><em></em>" + $(this.element).parent().next().find('a > aside').html() + "</a>";
          },
    		  height: 540,
    		  loop: false,
          margin: 86,
    		  padding: 0,
    		  width: 960,
    		  helpers: {
        		title: {
        			type: 'outside'
        		}
        	}
        });
    	});
    }
  </script>
</body>
</html>