footer {
  background: fade_out(#000, .3);
  display: flex;
  flex-direction: column;
  padding: 1rem;

  // @include breakpoint($breakpoint-tablet) { padding: 20px 40px; }

  // @include breakpoint($breakpoint-desktop) {
  //   padding: 23px 60px;
  //   text-align: center;
  //   p { line-height: 1; }
  // }
}