footer {
  background: fade_out(#000, .3);
  overflow: auto;
  padding: 5px 10px;

  @include breakpoint($breakpoint-tablet) { padding: 20px 40px; }

  @include breakpoint($breakpoint-desktop) {
    padding: 30px 60px;
    text-align: center;
  }

  @include breakpoint($breakpoint-widescreen) {
    p {
      box-sizing: border-box;
      margin: 0 auto;
    }
  }
}