header {
  display: flex;
  padding: 60px 10px;
  text-transform: uppercase;
  hgroup { position: relative; }
  h2 {
    position: absolute;
    top: -20px;
  }
  aside {
    color: rgba(255, 255, 255, .15);
    flex: auto;
    font-family: $custom-font, $default-font-family;
    font-size: 70px;
    text-align: right;
    &:before { content: '/ '; }
  }
  .info {
    color: rgba(255, 255, 255, .3);
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, .3);
    &:hover { color: lighten($purple, 30%); }
  }

  @include breakpoint($breakpoint-tablet) {
    padding: 80px 40px;
  }
}