header {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  max-width: 1680px;
  padding: 60px 10px;
  text-transform: uppercase;
  hgroup { position: relative; }
  h2 {
    position: absolute;
    top: -20px;
  }
  .info-text {
    color: rgba(255, 255, 255, .15);
    flex: auto;
    font-family: $custom-font, $default-font-family;
    text-align: right;
    &:before { content: '/ '; }
  }
  .info {
    color: rgba(255, 255, 255, .3);
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, .3);
    &:hover { color: lighten($purple, 30%); }
  }

  @include breakpoint($breakpoint-tablet) { padding: 80px 40px; }
  @include breakpoint($breakpoint-desktop) { padding: 100px 60px; }
  @include breakpoint($breakpoint-widescreen) { padding: 120px 60px; }
}