$layout-constraint: 1792px;

body {
  background: #2b2b2e url('data-url:../images/bg.png');
  &.fixed { overflow: hidden; }
}

.wrapper { min-width: 375px; }

// @include breakpoint($breakpoint-desktop) {
//   .wrapper {
//     margin: 0 auto;
//     max-width: $layout-constraint;
//     padding: 0 6rem;
//   }
// }
