<% content_for :css do %>
  <style>
    body { background: url("/images/bg2.png"); }
    nav a, h2 { color: #fff; }
  </style>
<% end %>

<section class="commercial videos">
  <h2>Commercial</h2>
  <ul>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/40788896?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/money-cant-buy-style.jpg" alt="Money Can't Buy Style &bull; Kmart" />
        <aside>
          <hgroup>
            <h3>Money Can't Buy Style</h3>
            <h4>Kmart &bull; Peterson Milla Hooks</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/40788898?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/elijah.jpg" alt="Elijah &bull; Gillette Children's Specialty Healthcare" />
        <aside>
          <hgroup>
            <h3>Elijah</h3>
            <h4>Gillette Children's Specialty Healthcare &bull; GdB</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/40787603?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/dream-in-color.jpg" alt="Dream In Color / Luis Fonsi &bull; Target" />
        <aside>
          <hgroup>
            <h3>Dream In Color / Luis Fonsi</h3>
            <h4>Target</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/40787047?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/app-choir.jpg" alt="App Choir &bull; Best Buy Mobile" />
        <aside>
          <hgroup>
            <h3>App Choir</h3>
            <h4>Best Buy Mobile &bull; Persuasion USA</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/40789619?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/chicco.jpg" alt="Chicco &bull; Target Baby" />
        <aside>
          <hgroup>
            <h3>Chicco</h3>
            <h4>Target Baby &bull; Target Corporation</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/40787050?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/dinner-party-with-michael-symon.jpg" alt="Dinner Party with Michael Symon &bull; Calphalon" />
        <aside>
          <hgroup>
            <h3>Dinner Party with Michael Symon</h3>
            <h4>Calphalon &bull; Carmichael Lynch</h4>
          </hgroup>
        </aside>
      </a>
    </li>
  </ul>
</section>
<section class="music videos">
  <h2>Music Videos</h2>
  <ul>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/21215052?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/into-the-spin.jpg" alt="Into the Spin &bull; Dessa" />
        <aside>
          <hgroup>
            <h3>Into the Spin</h3>
            <h4>Dessa</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/11504949?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/never-better.jpg" alt="Never Better &bull; P.O.S." />
        <aside>
          <hgroup>
            <h3>Never Better</h3>
            <h4>P.O.S.</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/11501548?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/cry.jpg" alt="Cry &bull; Gayngs" />
        <aside>
          <hgroup>
            <h3>Cry</h3>
            <h4>Gayngs</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/17005056?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/tempest.jpg" alt="Tempest &bull; Lazerbeak" />
        <aside>
          <hgroup>
            <h3>Tempest</h3>
            <h4>Lazerbeak</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/33164250?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/feathers.jpg" alt="Feathers &bull; Oaks" />
        <aside>
          <hgroup>
            <h3>Feathers</h3>
            <h4>Oaks</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/11635777?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/ark-of-the-oven-mitt.jpg" alt="Ark of the Oven Mitt &bull; The Danger Board" />
        <aside>
          <hgroup>
            <h3>Ark of the Oven Mitt</h3>
            <h4>The Danger Board</h4>
          </hgroup>
        </aside>
      </a>
    </li>
  </ul>  
</section>
<section class="experimental videos">
  <h2>Experimental</h2>
  <ul>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="experimental" href="http://player.vimeo.com/video/40791179?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/tokyo-drift.jpg" alt="Tokyo Drift &bull; Fashion Ball 2011" />
        <aside>
          <hgroup>
            <h3>Tokyo Drift</h3>
            <h4>Fashion Ball 2011</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="experimental" href="http://player.vimeo.com/video/3176422?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/tv.jpg" alt="TV &bull; Hand Over Fist" />
        <aside>
          <hgroup>
            <h3>TV</h3>
            <h4>Hand Over Fist</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="experimental" href="http://player.vimeo.com/video/40790396?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/hansel-and-gretel-having-adolescent-desires.jpg" alt="Hansel and Gretel Having Adolescent Desires &bull; Fashion Ball 2012" />
        <aside>
          <hgroup>
            <h3>Hansel and Gretel Having Adolescent Desires</h3>
            <h4>Fashion Ball 2012</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="experimental" href="http://player.vimeo.com/video/11637981?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/protection.jpg" alt="Protection &bull; Gayngs" />
        <aside>
          <hgroup>
            <h3>Protection</h3>
            <h4>Gayngs</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="experimental" href="http://player.vimeo.com/video/3396307?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/il-cacciatore.jpg" alt="Il Cacciatore &bull; Matt Collings, Rusty Detty, and Carlos Lamas" />
        <aside>
          <hgroup>
            <h3>Il Cacciatore</h3>
            <h4>Matt Collings, Rusty Detty, and Carlos Lamas</h4>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="experimental" href="http://player.vimeo.com/video/11637946?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/the-gaudy-side-of-town.jpg" alt="The Gaudy Side of Town &bull; Gayngs" />
        <aside>
          <hgroup>
            <h3>The Gaudy Side of Town</h3>
            <h4>Gayngs</h4>
          </hgroup>
        </aside>
      </a>
    </li>
  </ul>
</section>
<section id="about">
  <h2>About</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section id="contact">
  <h2>Contact</h2>
</section>

