<section class="commercial videos">
  <h2>Commercial</h2>
  <ul>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
  </ul>  
</section>
<section class="music videos">
  <h2>Music Videos</h2>
  <ul>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
  </ul>  
</section>
<section class="experimental videos">
  <h2>Experimental</h2>
  <ul>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="http://placehold.it/720x405/999/fff&amp;text=THUMBNAIL" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
  </ul>  
</section>

