<section class="music videos">
  <h2>Music Videos</h2>
  <ul>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
  </ul>  
</section>
<section id="about">
  <h2>About</h2>
</section>
<section id="contact">
  <h2>Contact</h2>
</section>

