<section class="music videos">
  <h2>Music Videos</h2>
  <ul>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/33087573?title=0&amp;byline=0&amp;portrait=0&amp;color=136485&amp;autoplay=1" title="Caption">
        <img src="http://placehold.it/720x405/ddd/fff&amp;text=Feathers - Oaks" alt="Feathers - Oaks" />
        <hgroup>
          <h3>Testing a Vimeo Video</h3>
          <h4>Client Name</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg" title="Test">
        <img src="/images/thumbnail.jpg" alt="Into the Spin - Dessa" />
        <hgroup>
          <h3>Into the Spin</h3>
          <h4>Dessa</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="/images/thumbnail.jpg" alt="Into the Spin - Dessa" />
        <hgroup>
          <h3>Into the Spin</h3>
          <h4>Dessa</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="/images/thumbnail.jpg" alt="Into the Spin - Dessa" />
        <hgroup>
          <h3>Into the Spin</h3>
          <h4>Dessa</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="/images/thumbnail.jpg" alt="Into the Spin - Dessa" />
        <hgroup>
          <h3>Into the Spin</h3>
          <h4>Dessa</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="/images/thumbnail.jpg" alt="Into the Spin - Dessa" />
        <hgroup>
          <h3>Into the Spin</h3>
          <h4>Dessa</h4>
        </hgroup>
      </a>
    </li>
  </ul>  
</section>
<section id="about">
  <h2>About</h2>
</section>
<section id="contact">
  <h2>Contact</h2>
</section>

