<section class="commercial videos">
  <h2>Commercial</h2>
  <ul>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/38591304?title=0&amp;byline=0&amp;portrait=0&amp;color=136485" title="Caption">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Testing a Vimeo Video</h3>
        <h4>Client Name</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="commercial" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="commercial" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="commercial" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="commercial" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="commercial" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
  </ul>  
</section>
<section class="music videos">
  <h2>Music Videos</h2>
  <ul>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
  </ul>  
</section>
<section class="experimental videos">
  <h2>Experimental</h2>
  <ul>
    <li>
      <a class="thumbnail image" rel="experimental" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="experimental" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="experimental" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="experimental" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="experimental" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
    <li>
      <a class="thumbnail image" rel="experimental" href="/images/thumbnail.jpg">
        <img src="http://placehold.it/720x405/333/fff&amp;text=Thumbnail" alt="Thumbnail" />
      </a>
      <hgroup>
        <h3>Into the Spin</h3>
        <h4>Dessa</h4>
      </hgroup>
    </li>
  </ul>  
</section>
<section id="about">
  <h2>About</h2>
</section>
<section id="contact">
  <h2>Contact</h2>
</section>

