<section class="commercial videos">
  <h2>Commercial</h2>
  <ul>
    <li>
      <a class="test" rel="commercial" href="/images/thumbnail.jpg" title="Caption 1">
        <img src="/images/thumbnail.jpg" alt="THUMBNAIL" />
      </a>
      <h3>Spot Name</h3>
      <h4>Client</h4>
    </li>
    <li>
      <a class="test" rel="commercial" href="/images/thumbnail.jpg" title="Caption 2">
        <img src="/images/thumbnail.jpg" alt="THUMBNAIL" />
      </a>
      <h3>Spot Name</h3>
      <h4>Client</h4>
    </li>
    <li>
      <a class="thumbnail fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/38591304?title=0&amp;byline=0&amp;portrait=0&amp;color=136485" title="Caption">
        <img src="/images/thumbnail.jpg" alt="THUMBNAIL" />
      </a>
      <h3>Spot Name</h3>
      <h4>Client</h4>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
  </ul>  
</section>
<section class="music videos">
  <h2>Music Videos</h2>
  <ul>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
  </ul>  
</section>
<section class="experimental videos">
  <h2>Experimental</h2>
  <ul>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="thumbnail"><img src="/images/thumbnail.jpg" alt="THUMBNAIL" /></div>
        <h3>Spot Name</h3>
        <h4>Client</h4>
      </a>
    </li>
  </ul>  
</section>

