<h3>Commercial</h3>
<section class="commercial videos">
  <ul>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/40788896?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/money-cant-buy-style.jpg" alt="Money Can't Buy Style &bull; Kmart" />
        <aside>
          <hgroup>
            <h4>Money Can't Buy Style</h4>
            <h5>Kmart &bull; Peterson Milla Hooks</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/40788898?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/elijah.jpg" alt="Elijah &bull; Gillette Children's Specialty Healthcare" />
        <aside>
          <hgroup>
            <h4>Elijah</h4>
            <h5>Gillette Children's Specialty Healthcare &bull; GdB</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/40787603?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/dream-in-color.jpg" alt="Dream In Color / Luis Fonsi &bull; Target" />
        <aside>
          <hgroup>
            <h4>Dream In Color / Luis Fonsi</h4>
            <h5>Target</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/40787047?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/app-choir.jpg" alt="App Choir &bull; Best Buy Mobile" />
        <aside>
          <hgroup>
            <h4>App Choir</h4>
            <h5>Best Buy Mobile &bull; Persuasion USA</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/40789619?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/chicco.jpg" alt="Chicco &bull; Target Baby" />
        <aside>
          <hgroup>
            <h4>Chicco</h4>
            <h5>Target Baby &bull; Target Corporation</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="commercial" href="http://player.vimeo.com/video/40787050?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/dinner-party-with-michael-symon.jpg" alt="Dinner Party with Michael Symon &bull; Calphalon" />
        <aside>
          <hgroup>
            <h4>Dinner Party with Michael Symon</h4>
            <h5>Calphalon &bull; Carmichael Lynch</h5>
          </hgroup>
        </aside>
      </a>
    </li>
  </ul>
</section>
<section class="music videos">
  <h3>Music Videos</h3>
  <ul>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/21215052?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/into-the-spin.jpg" alt="Into the Spin &bull; Dessa" />
        <aside>
          <hgroup>
            <h4>Into the Spin</h4>
            <h5>Dessa</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/11504949?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/never-better.jpg" alt="Never Better &bull; P.O.S." />
        <aside>
          <hgroup>
            <h4>Never Better</h4>
            <h5>P.O.S.</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/11501548?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/cry.jpg" alt="Cry &bull; Gayngs" />
        <aside>
          <hgroup>
            <h4>Cry</h4>
            <h5>Gayngs</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/17005056?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/tempest.jpg" alt="Tempest &bull; Lazerbeak" />
        <aside>
          <hgroup>
            <h4>Tempest</h4>
            <h5>Lazerbeak</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/33164250?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/feathers.jpg" alt="Feathers &bull; Oaks" />
        <aside>
          <hgroup>
            <h4>Feathers</h4>
            <h5>Oaks</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/11635777?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/ark-of-the-oven-mitt.jpg" alt="Ark of the Oven Mitt &bull; The Danger Board" />
        <aside>
          <hgroup>
            <h4>Ark of the Oven Mitt</h4>
            <h5>The Danger Board</h5>
          </hgroup>
        </aside>
      </a>
    </li>
  </ul>  
</section>
<section class="experimental videos">
  <h3>Experimental</h3>
  <ul>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="experimental" href="http://player.vimeo.com/video/40791179?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/tokyo-drift.jpg" alt="Tokyo Drift &bull; Fashion Ball 2011" />
        <aside>
          <hgroup>
            <h4>Tokyo Drift</h4>
            <h5>Fashion Ball 2011</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="experimental" href="http://player.vimeo.com/video/3176422?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/tv.jpg" alt="TV &bull; Hand Over Fist" />
        <aside>
          <hgroup>
            <h4>TV</h4>
            <h5>Hand Over Fist</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="experimental" href="http://player.vimeo.com/video/40790396?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/hansel-and-gretel-having-adolescent-desires.jpg" alt="Hansel and Gretel Having Adolescent Desires &bull; Fashion Ball 2012" />
        <aside>
          <hgroup>
            <h4>Hansel and Gretel Having Adolescent Desires</h4>
            <h5>Fashion Ball 2012</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="experimental" href="http://player.vimeo.com/video/11637981?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/protection.jpg" alt="Protection &bull; Gayngs" />
        <aside>
          <hgroup>
            <h4>Protection</h4>
            <h5>Gayngs</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="experimental" href="http://player.vimeo.com/video/3396307?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/il-cacciatore.jpg" alt="Il Cacciatore &bull; Matt Collings, Rusty Detty, and Carlos Lamas" />
        <aside>
          <hgroup>
            <h4>Il Cacciatore</h4>
            <h5>Matt Collings, Rusty Detty, and Carlos Lamas</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="experimental" href="http://player.vimeo.com/video/11637946?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/the-gaudy-side-of-town.jpg" alt="The Gaudy Side of Town &bull; Gayngs" />
        <aside>
          <hgroup>
            <h4>The Gaudy Side of Town</h4>
            <h5>Gayngs</h5>
          </hgroup>
        </aside>
      </a>
    </li>
  </ul>
</section>
<section id="about">
  <p>Carlos Lamas (known to his friends as "Los") has been working in high-end post-production since 2005. In that time, he has edited television spots for several national brands, including Target, Kmart, Capital One, and Best Buy. He's also edited several music videos, and has had his work featured on MTVU, Pitchfork, and Kanye West's blog.</p>
  <p>Carlos was raised bi-lingual, and has edited several things in Spanish.</p>
  <p>Inexplicably, motor vehicles have an annoying tendency to catch on fire while Carlos is driving them.  The culprits (so far) include a Yamaha motorcycle and a Plymouth automobile.</p>
</section>