<section role="commercial">
  <h1>Commercial</h1>
  <ul>
    <li>
      <a href="#">Video 1</a>
    </li>
    <li>
      <a href="#">Video 2</a>
    </li>
    <li>
      <a href="#">Video 3</a>
    </li>
    <li>
      <a href="#">Video 4</a>
    </li>
    <li>
      <a href="#">Video 5</a>
    </li>
    <li>
      <a href="#">Video 6</a>
    </li>
  </ul>  
</section>
<section role="music-videos">
  <h1>Music Videos</h1>
  <ul>
    <li>
      <a href="#">Video 1</a>
    </li>
    <li>
      <a href="#">Video 2</a>
    </li>
    <li>
      <a href="#">Video 3</a>
    </li>
    <li>
      <a href="#">Video 4</a>
    </li>
    <li>
      <a href="#">Video 5</a>
    </li>
    <li>
      <a href="#">Video 6</a>
    </li>
  </ul>  
</section>
<section role="expierimental">
  <h1>Experimental</h1>
  <ul>
    <li>
      <a href="#">Video 1</a>
    </li>
    <li>
      <a href="#">Video 2</a>
    </li>
    <li>
      <a href="#">Video 3</a>
    </li>
    <li>
      <a href="#">Video 4</a>
    </li>
    <li>
      <a href="#">Video 5</a>
    </li>
    <li>
      <a href="#">Video 6</a>
    </li>
  </ul>  
</section>

