<section class="commercial videos">
  <h1>Commercial</h1>
  <ul>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
  </ul>  
</section>
<section class="music videos">
  <h1>Music Videos</h1>
  <ul>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
  </ul>  
</section>
<section class="experimental videos">
  <h1>Experimental</h1>
  <ul>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/thumbnail.jpg" />
        <h2>Spot Name</h2>
        <h3>Client</h3>
      </a>
    </li>
  </ul>  
</section>

