<section class="commercial videos">
  <h2>Commercial</h2>
  <ul>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/40788896?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/money-cant-buy-style.jpg" alt="Money Can't Buy Style - Kmart" />
        <hgroup>
          <h3>Money Can't Buy Style</h3>
          <h4><strong>Kmart</strong> - Peterson Milla Hooks</h4>
        </hgroup>
      </a>
    </li>
  </ul>
</section>
<section class="music videos">
  <h2>Music Videos</h2>
  <ul>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/21215052?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/into-the-spin.jpg" alt="Into the Spin - Dessa" />
        <hgroup>
          <h3>Into the Spin</h3>
          <h4>Dessa</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/11504949?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/never-better.jpg" alt="Never Better - P.O.S." />
        <hgroup>
          <h3>Never Better</h3>
          <h4>P.O.S.</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/11501548?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/cry.jpg" alt="Cry - GAYNGS" />
        <hgroup>
          <h3>Cry</h3>
          <h4>GAYNGS</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/17005056?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/tempest.jpg" alt="Tempest - Lazerbeak" />
        <hgroup>
          <h3>Tempest</h3>
          <h4>Lazerbeak</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/33164250?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/feathers.jpg" alt="Feathers - Oaks" />
        <hgroup>
          <h3>Feathers</h3>
          <h4>Oaks</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/11635777?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/ark-of-the-oven-mitt.jpg" alt="Ark of the Oven Mitt - The Danger Board" />
        <hgroup>
          <h3>Ark of the Oven Mitt</h3>
          <h4>The Danger Board</h4>
        </hgroup>
      </a>
    </li>
  </ul>  
</section>
<section id="about">
  <h2>About</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section id="contact">
  <h2>Contact</h2>
</section>

