<section class="music videos">
  <h2>Music Videos</h2>
  <ul>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/21215052?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/into-the-spin.jpg" alt="Into the Spin - Dessa" />
        <hgroup>
          <h3>Into the Spin</h3>
          <h4>Dessa</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/11504949?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/never-better.jpg" alt="Never Better - P.O.S." />
        <hgroup>
          <h3>Never Better</h3>
          <h4>P.O.S.</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/11501548?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/cry.jpg" alt="Cry - GAYNGS" />
        <hgroup>
          <h3>Cry</h3>
          <h4>GAYNGS</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail video fancybox.iframe" rel="music" href="http://player.vimeo.com/video/17005056?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="/images/thumbnails/tempest.jpg" alt="Tempest - Lazerbeak" />
        <hgroup>
          <h3>Tempest</h3>
          <h4>Lazerbeak</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="/images/thumbnail.jpg" alt="Into the Spin - Dessa" />
        <hgroup>
          <h3>Into the Spin</h3>
          <h4>Dessa</h4>
        </hgroup>
      </a>
    </li>
    <li>
      <a class="thumbnail image" rel="music" href="/images/thumbnail.jpg">
        <img src="/images/thumbnail.jpg" alt="Into the Spin - Dessa" />
        <hgroup>
          <h3>Into the Spin</h3>
          <h4>Dessa</h4>
        </hgroup>
      </a>
    </li>
  </ul>  
</section>
<section id="about">
  <h2>About</h2>
</section>
<section id="contact">
  <h2>Contact</h2>
</section>

