<section class="commercial videos">
  <div class="ribbon"><span><h3>Commercial</h3></span></div>
  <ul>
    <li>
      <a class="video fancybox.iframe" data-fancybox-group="commercial" href="http://player.vimeo.com/video/40788896?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <div class="thumbnail"><img src="/images/thumbnails/money-cant-buy-style.jpg" alt="Money Can't Buy Style &bull; Kmart" /></div>
        <aside>
          <hgroup>
            <h4>Money Can't Buy Style</h4>
            <h5>Kmart &bull; Peterson Milla Hooks</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="video fancybox.iframe" data-fancybox-group="commercial" href="http://player.vimeo.com/video/40788898?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <div class="thumbnail"><img src="/images/thumbnails/elijah.jpg" alt="Elijah &bull; Gillette Children's Specialty Healthcare" /></div>
        <aside>
          <hgroup>
            <h4>Elijah</h4>
            <h5>Gillette Children's Specialty Healthcare &bull; GdB</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="video fancybox.iframe" data-fancybox-group="commercial" href="http://player.vimeo.com/video/40787603?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <div class="thumbnail"><img src="/images/thumbnails/dream-in-color.jpg" alt="Dream In Color / Luis Fonsi &bull; Target" /></div>
        <aside>
          <hgroup>
            <h4>Dream In Color / Luis Fonsi</h4>
            <h5>Target</h5>
          </hgroup>
        </aside>
      </a>
    </li>
  </ul>
</section>
<section id="about">
  <article class="bio">
    <h3>About</h3>
    <p>Carlos Lamas is a freelance video editor from Minneapolis, working in high-end post-production since 2005.</p>
    <p>He has edited television spots for national brands including Target, Kmart, Capital One, and Best Buy. He has also edited several music videos and had his work featured on MTVU, Pitchfork, and Kanye West's blog. Raised bi-lingual, he can also edit <a href="#">Spanish</a>.</p>
  </article>
  <ul>
    <li><%= link_to 'losdelfuego', 'https://twitter.com/#!/losdelfuego', :class => 'twitter' %></li>
    <li><%= link_to 'carlos@carloslamas.tv', 'mailto:carlos@carloslamas.tv', :class => 'email' %></li>
    <li><%= link_to '612.424.5143', 'tel:1-612-424-5143', :class => 'phone' %></li>
  </ul>
</section>