<section class="commercial videos">
  <div class="ribbon"><span><h3>Commercial</h3></span></div>
  <ul>
    <li>
      <a class="video fancybox.iframe" data-fancybox-group="commercial" href="http://player.vimeo.com/video/40787604?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <div class="thumbnail"><img src="/images/thumbnails/dream-in-color-spanish.jpg" alt="Dream In Color / Hispanic Heritage Anthem &bull; Target" /></div>
        <aside>
          <hgroup>
            <h4>Dream In Color / Hispanic Heritage Anthem</h4>
            <h5>Target</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="video fancybox.iframe" data-fancybox-group="commercial" href="http://player.vimeo.com/video/41854892?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <div class="thumbnail"><img src="/images/thumbnails/money-cant-buy-style-spanish.jpg" alt="Money Can't Buy Style / Eve &bull; Kmart" /></div>
        <aside>
          <hgroup>
            <h4>Money Can't Buy Style / Eve</h4>
            <h5>Kmart &bull; Peterson Milla Hooks</h5>
          </hgroup>
        </aside>
      </a>
    </li>
    <li>
      <a class="video fancybox.iframe" data-fancybox-group="commercial" href="http://player.vimeo.com/video/40789308?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <div class="thumbnail"><img src="/images/thumbnails/nina-garcia.jpg" alt="Nina Garcia / Aixa &bull; Target" /></div>
        <aside>
          <hgroup>
            <h4>Nina Garcia / Aixa</h4>
            <h5>Target &bull; Peterson Milla Hooks</h5>
          </hgroup>
        </aside>
      </a>
    </li>
  </ul>
</section>
<section id="about">
  <article class="bio">
    <h3>About</h3>
    <p>Carlos Lamas is a freelance video editor from Minneapolis, working in post-production since 2005.</p>
    <p>He has edited television spots for national brands including Target, Kmart, Capital One, and Best Buy. He has also edited several music videos, and has had his work featured on MTVU, Pitchfork, and Kanye West's blog.</p>
    <p>Carlos was raised bi-lingual, and loves to edit <a href="/spanish">in Spanish</a>.</p>
  </article>
  <ul>
    <li><%= link_to 'losdelfuego', 'https://twitter.com/#!/losdelfuego', :class => 'twitter' %></li>
    <li><%= link_to 'carlos@carloslamas.tv', 'mailto:carlos@carloslamas.tv', :class => 'email' %></li>
    <li><%= link_to '612.424.5143', 'tel:1-612-424-5143', :class => 'phone' %></li>
  </ul>
</section>
<footer>
  &copy; Copyright <%= Time.new.year %> Carlos Lamas &bull; <a href="/">in English</a> &bull; Designed with love by <a href="http://matthew-anderson.net">Matthew Anderson</a>
</footer>