// grid

$total-width: 100%;
$columns: 6;

// typography

$default-font-family: 'Helvetica Neue', Arial, sans-serif;
$default-font-size: 13px;
$default-line-height: 20px;

// background-clip

$default-background-clip: text;

// border-radius

$default-border-radius: 4px;

// box-shadow

$default-box-shadow-color: rgba(0, 0, 0, .6);
$default-box-shadow-v-offset: 2px;

// colors

$purple: rgba(102, 0, 204, 1);

// transition

$default-transition-duration: .25s;

// Text Colors
$text-color: #333333;
$loud-color: strengthen($text-color);
$quiet-color: soften($text-color, 1.5);
$header-color: strengthen($text-color, 0.66);

// Link Colors
$link-color: #bb3a08;
$link-visited-color: #a72;
$link-hover-color: #f66933;


