// SUPPORT //

$legacy-support-for-ie6: false;

// COLORS //

$purple: #4c489e;

// TYPOGRAPHY //

$default-font-family: 'Helvetica Neue', Arial, sans-serif;
$default-font-size: 13px;
$default-line-height: 16px;

// GRID //

$total-width: 100%;
$columns: 6;

// BORDER-RADIUS //

$default-border-radius: 4px;

// BOX-SHADOW //

$default-box-shadow-color: #000;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 3px;

// TEXT-SHADOW //

$default-text-shadow-color: rgba(0, 0, 0, .6);
$default-text-shadow-v-offset: 1px;
$default-text-shadow-blur: 0;

// TRANSITION //

$default-transition-duration: .25s;