// colors //

$purple: #4c489e;

// typography //

$default-font-family: 'Helvetica Neue', Arial, sans-serif;
$default-font-size: 16px;
$default-line-height: 30px;

// grid //

$total-width: 100%;
$columns: 6;

// border-radius //

$default-border-radius: 4px;

// box-shadow //

$default-box-shadow-color: rgba(0, 0, 0, .8);
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 3px;

// text-shadow //

$default-text-shadow-color: rgba(0, 0, 0, .6);
$default-text-shadow-v-offset: 1px;
$default-text-shadow-blur: 0;

// transition //

$default-transition-duration: .25s;