h1 {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  strong {
    display: block;
    font-weight: bold;
  }
}

h2 {
  clear: both;
  color: rgba(0, 0, 0, .25);
  font-size: 11px;
  font-weight: bold;
  padding: 30px 0 60px 0;
  text-transform: uppercase;
}

h3 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

h4 { color: lighten($purple, 25%); }