@font-face {
    font-family: 'UniversLTStd39ThinUltraCnRg';
    src: url('/fonts/universltstd-thinultracn-webfont.eot');
    src: url('/fonts/universltstd-thinultracn-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/universltstd-thinultracn-webfont.woff') format('woff'),
         url('/fonts/universltstd-thinultracn-webfont.ttf') format('truetype'),
         url('/fonts/universltstd-thinultracn-webfont.svg#UniversLTStd39ThinUltraCnRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
$custom-font: UniversLTStd39ThinUltraCnRg;

h1 {
  color: #fff;
  font-family: $custom-font, $default-font-family;
  font-size: 70px;
  line-height: 70px;
  position: relative;
  text-transform: uppercase;
  @include text-shadow(0 1px 3px #000);
}

h2 {
  color: rgba(255, 255, 255, .4);
  font-size: 16px;
  position: absolute;
  @include text-shadow(0 -1px rgba(0, 0, 0, .6));
  text-transform: lowercase;
  top: 55px;
}

h3 {
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  padding: 10px;
  @include text-shadow(0 -1px rgba(0, 0, 0, .3));
}

h4 {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}

h5 {
  color: lighten($purple, 30%);
  line-height: 16px;
}

h6 {
  color: rgba(255, 255, 255, .5);
  line-height: 20px;
}