@import 'node_modules/normalize.css/normalize';
@import 'node_modules/breakpoint-sass/stylesheets/breakpoint';

@import 'framework/*';
@import 'regions/*';
@import 'modules/*';

// @import "icons/*.png";

// .twitter {
//   @include icons-sprite(twitter);
//   @include icons-sprite-position(twitter, 0, 2px);
// }
// .email {
//   @include icons-sprite(email);
//   @include icons-sprite-position(email, 0, 4px);
// }
// .phone {
//   @include icons-sprite(phone);
//   @include icons-sprite-position(phone, 0, 3px);
// }

@include breakpoint($breakpoint-tablet) {

  // h3 { padding: 15px 0; }
  // p, li { line-height: 25px; }
  // p { margin-bottom: 25px; }


  // @import "modules/jquery.fancybox";
  .fancybox-close {
    position: fixed;
    top: 95px;
    right: 30px;
  }
  .fancybox-close {
    background-image: url("/images/sprite-icons.png");
    height: 26px;
    opacity: .6;
    transition: all .25s;
    width: 26px;
    &:hover { opacity: 1; }
  }
  .fancybox-nav {
    height: 70px;
    margin-top: -33px;
    position: fixed;
    top: 50%;
    transition: all .25s;
    width: 86px;
    em {
      background-image: url("/images/sprite-icons.png");
      height: 42px;
      margin-top: -21px;
      opacity: .6;
      position: absolute;
      top: 50%;
      width: 26px;
      z-index: 100;
    }
    hgroup {
      background-color: $purple;
      background-color: fade_out($purple, .1);
      box-shadow: 0 1px rgba(0, 0, 0, .8);
      opacity: 0;
      padding: 15px 30px;
      position: absolute;
      transition: opacity .25s, background .25s;
      white-space: nowrap;
      z-index: 10;
    }
    &:hover {
      width: auto;
      em, hgroup { opacity: 1; }
    }
    &:active {
      hgroup { background-color: darken(fade_out($purple, .1), 20%); }
    }
  }
  .fancybox-prev {
    left: 0;
    text-align: left;
    em {
      background-position: 0 -50px;
      left: 30px;
    }
    hgroup {
      left: -500px;
      padding-left: 71px;
    }
    &:hover hgroup { left: 0; }
  }
  .fancybox-next {
    right: 0;
    text-align: right;
    em {
      background-position: 0 -100px;
      right: 30px;
    }
    hgroup {
      padding-right: 71px;
      right: -500px;
    }
    &:hover hgroup { right: 0; }
  }
  .fancybox-title {
    // line-height: $default-line-height;
    hgroup { text-shadow: 0 1px 3px #000; }
    h6 { display: block; }
  }

  // footer { padding: 2.38%; }
  .cover {
    .fancybox-outer {
      background: transparent;
      box-shadow: none;
    }
    .fancybox-inner { box-sizing: padding-box; }
    h3 {
      border-top: 1px solid rgba(255, 255, 255, .2);
      margin-bottom: 30px;
    }

    // article { @include column(3); }
    // p, li { font-size: 16px; }
    p a {
      background-color: rgba(255, 255, 255, .1);
      font-weight: bold;
      padding: 1px 3px;
    }
    li {
      a {
        color: lighten($purple, 20%);
        padding-left: 24px;
        transition: all .25s;
        &:hover { color: #fff; }
      }
    }
  }
  h1.raised { z-index: 1002; }
}
