@import 'node_modules/normalize.css/normalize';
@import 'node_modules/breakpoint-sass/stylesheets/breakpoint';

@import 'framework/*';
// @import "icons/*.png";

// .twitter {
//   @include icons-sprite(twitter);
//   @include icons-sprite-position(twitter, 0, 2px);
// }
// .email {
//   @include icons-sprite(email);
//   @include icons-sprite-position(email, 0, 4px);
// }
// .phone {
//   @include icons-sprite(phone);
//   @include icons-sprite-position(phone, 0, 3px);
// }

body {
  background: #222 url("/images/bg.png");
  color: #444;
  overflow: hidden;
  // &.fixed { overflow: hidden; }
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  transition: all .25s;
  &:hover { color: #fff; }
}



h2 {
  color: rgba(255, 255, 255, .3);
  font-size: 16px;
  position: absolute;
  text-shadow: 0 -1px rgba(0, 0, 0, .6);
  text-transform: lowercase;
  top: -25px;
}

h3 {
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  padding: 15px 10px;
}

h4 {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}

h5 {
  color: lighten($purple, 30%);
  font-weight: normal;
  line-height: 16px;
}

h6 {
  color: rgba(255, 255, 255, .5);
  display: none;
  line-height: 20px;
}

header {
  @extend %clearfix;
  padding: 80px 10px 60px 10px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  hgroup {
    float: left;
    position: relative;
  }
  aside {
    color: rgba(255, 255, 255, .1);
    float: right;
    font-family: $custom-font, $default-font-family;
    font-size: 70px;
    .about {
      color: rgba(255, 255, 255, .3);
      font-weight: normal;
      line-height: 70px;
      margin-right: 1.19%;
      text-shadow: 0 -1px rgba(0, 0, 0, .6);
      &:hover { color: lighten($purple, 30%); }
    }
    &:before {
      content: '/ ';
    }
  }
}

.ribbon {
  background: $purple;
  background: fade_out($purple, .1);
  box-shadow: 0 0 5px #000, inset 0 0 1px rgba(255, 255, 255, .3);
  clear: both;
  text-align: left;
  span { display: block; }
  h3 { text-shadow: 0 -1px rgba(0, 0, 0, .3); }
}

.videos {
  ul { overflow: hidden; }
  img {
    display: block;
    width: 100%;
  }
}

#about {
  color: lighten($purple, 40%);
  text-align: justify;
  text-shadow: 0 -1px rgba(0, 0, 0, .3);
}

p, li { line-height: 20px; }
p { margin-bottom: 20px; }

footer {
  background: fade_out(#000, .3);
  border-top: 1px solid #000;
}

@media screen and (max-width: 767px) {
  header li:not(:last-child) { display: none; }
  .ribbon {
    border-top: 1px solid #336;
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid #336;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    box-shadow: none;
  }
  .commercial .ribbon {
    border-top: 0;
    box-shadow: 0 -1px 3px rgba(0, 0 ,0, .8), inset 0 0 1px rgba(255, 255, 255, .3);
  }
  .videos {
    ul { background: #fff; }
    li {
      border-bottom: 1px solid #d8d8d8;
      border-bottom: 1px solid rgba(0, 0, 0, .15);
      &:last-child { border: 0; }
    }
    .video {
      background: url("/images/select.png") 97% 50% no-repeat;
      background-size: auto 30%;
      display: table;
      table-layout: fixed;
      white-space: nowrap;
      width: 100%;
    }
    .thumbnail {
      display: table-cell;
      padding: 10px;
      position: relative;
      width: 30%;
      &:after {
        bottom: 10px;
        box-shadow: inset rgba(0, 0, 0, .15) 0 0 0 1px;
        content: " ";
        display: block;
        left: 10px;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
    aside {
      display: table-cell;
      overflow: hidden;
      padding: 10px 0;
      text-align: left;
      vertical-align: middle;
      width: 70%;
    }
    hgroup { padding-right: 13%; }
    h4, h5 {
      line-height: $default-line-height;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h4 {
      color: #333;
      font-size: $default-font-size;
    }
    h5 { color: #999; }
  }
  #about {
    background: $purple;
    padding-bottom: 20px;
    .ribbon { border-bottom: 0; }
    p, li { padding: 0 10px 0 10px; }
    .contact a { padding-left: 24px; }
  }
  footer { padding: 20px 10px; }
}

@include breakpoint($breakpoint-tablet) {
  header {
    box-sizing: padding-box;
    padding-left: 1.19%;
    padding-right: 1.19%;
    position: relative;
    margin: 0 auto;
    hgroup {
      float: left;
      margin-left: 1.19%;
      position: relative;
      // width: 200px;
    }
    aside {
      margin-right: 1.19%;
    }
  }
  h3 { padding: 15px 0; }
  p, li { line-height: 25px; }
  p { margin-bottom: 25px; }
  .ribbon {
    margin: 2.38% 0;
    &:first-child { margin-top: 0; }
    span {
      box-sizing: padding-box;
      margin: 0 auto;
      padding: 0 1.19%;
    }
    h3 { margin: 0 1.19%; }
  }
  .videos {
    ul {
      @extend %clearfix-tablet;
      padding: 0 1.19%;
    }
    li {
      // @include column(3);
      margin-bottom: 2.38% !important;
      position: relative;
      &:hover {
        aside { opacity: 1; }
      }
      &:active {
        aside { background-color: darken(fade_out($purple, .1), 20%); }
      }
    }
    .video {
      display: block;
      position: relative;
      transition: all .25s;
      &:after {
        bottom: 0;
        box-shadow: inset rgba(255, 255, 255, .1) 0 0 0 1px;
        content: " ";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
      }
    }
    .thumbnail {  box-shadow: #000 0 1px 3px; }
    aside {
      background-color: $purple;
      background-color: fade_out($purple, .1);
      background-image: url('/images/play.png');
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: auto 30%;
      bottom: 0;
      left: 0;
      opacity: 0;
      padding-top: 120px;
      position: absolute;
      right: 0;
      text-shadow: 0 -1px rgba(0, 0, 0, .3);
      top: 0;
      transition: all .25s;
      z-index: 100;
    }
    hgroup {
      bottom: 15px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
  // @import "modules/jquery.fancybox";
  .fancybox-close {
    position: fixed;
    top: 95px;
    right: 30px;
  }
  .fancybox-close {
    background-image: url("/images/sprite-icons.png");
    height: 26px;
    opacity: .6;
    transition: all .25s;
    width: 26px;
    &:hover { opacity: 1; }
  }
  .fancybox-nav {
    height: 70px;
    margin-top: -33px;
    position: fixed;
    top: 50%;
    transition: all .25s;
    width: 86px;
    em {
      background-image: url("/images/sprite-icons.png");
      height: 42px;
      margin-top: -21px;
      opacity: .6;
      position: absolute;
      top: 50%;
      width: 26px;
      z-index: 100;
    }
    hgroup {
      background-color: $purple;
      background-color: fade_out($purple, .1);
      box-shadow: 0 1px rgba(0, 0, 0, .8);
      opacity: 0;
      padding: 15px 30px;
      position: absolute;
      transition: opacity .25s, background .25s;
      white-space: nowrap;
      z-index: 10;
    }
    &:hover {
      width: auto;
      em, hgroup { opacity: 1; }
    }
    &:active {
      hgroup { background-color: darken(fade_out($purple, .1), 20%); }
    }
  }
  .fancybox-prev {
    left: 0;
    text-align: left;
    em {
      background-position: 0 -50px;
      left: 30px;
    }
    hgroup {
      left: -500px;
      padding-left: 71px;
    }
    &:hover hgroup { left: 0; }
  }
  .fancybox-next {
    right: 0;
    text-align: right;
    em {
      background-position: 0 -100px;
      right: 30px;
    }
    hgroup {
      padding-right: 71px;
      right: -500px;
    }
    &:hover hgroup { right: 0; }
  }
  .fancybox-title {
    line-height: $default-line-height;
    hgroup { text-shadow: 0 1px 3px #000; }
    h6 { display: block; }
  }
  #about {
    display: none;
    padding: 0 1.19%;
  }
  footer { padding: 2.38%; }
  .cover {
    .fancybox-outer {
      background: transparent;
      box-shadow: none;
    }
    .fancybox-inner { box-sizing: padding-box; }
    h3 {
      border-top: 1px solid rgba(255, 255, 255, .2);
      margin-bottom: 30px;
    }
    #about { padding-top: 225px;}
    // article { @include column(3); }
    p, li { font-size: 16px; }
    p a {
      background-color: rgba(255, 255, 255, .1);
      font-weight: bold;
      padding: 1px 3px;
    }
    li {
      a {
        color: lighten($purple, 20%);
        padding-left: 24px;
        transition: all .25s;
        &:hover { color: #fff; }
      }
    }
  }
  h1.raised { z-index: 1002; }
}

@media screen and (min-width: 1025px) {
  // header, .ribbon span { max-width: $max-width; }
  .videos {
    ul {
      margin: 0 auto;
      // max-width: $max-width;
    }
    // li { @include column(2); }
  }
  .cover {
    // article { @include column(2); }
  }
}