@import "partials/defaults";
@import "partials/content";

@include global-reset;
@include reset-html5;

html, body { background: #fff; }

body {
  color: #444;
  padding: 0 5px;
  text-align: center;
}

header {
  padding: 20px 5%;
  position: relative;  
}

footer {
  font-size: 90%;
  p { margin: 1em 0; }
}

.videos {
  li {
    margin-bottom: 20px;
  }
  h1 {
    text-align: center;
  }
  a {
    display: inline-block;
    text-align: center;
  }
  .thumbnail {
    position: relative;
    &:after {
      bottom: 0;
      @include box-shadow(rgba(255, 255, 255, .3) 0 0 0 1px inset);
      content: " ";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    @media screen and (min-width: 1024px) {
      &:hover:after {
        background: fade_out($purple, .4);
      }
    }
  }
  img {
    @include box-shadow;
    display: block;
    max-width: 100%;
  }
}