@import "compass";
@include global-reset;
@include reset-html5;
@import "framework/grid";
@import "framework/all";

html, body { background: #fff; }

body {
  color: #444;
  font: normal 14px $default-font-face;
  padding: 0 5px;
  text-align: center;
}

a {
  text-decoration: none;
}

.fade {
  background: white;
  content: '';
  display: block;
  height: 10px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  padding: 20px 5%;
}

footer {
  font-size: 90%;
  p { margin: 1em 0; }
}

.videos {
  li {
    margin-bottom: 20px;
  }
  .thumbnail {
    margin-bottom: 10px;
    position: relative;
    &:after {
      bottom: 0;
      @include box-shadow(red 0 0 0 1px inset);
      content: " ";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  img {
    @include box-shadow;
    display: block;
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  #wrapper {
    padding: 0 10%;
    margin: 0 auto;
    max-width: 1024px;
  }
  .videos {
    @include column(6);
    ul { @include row(6); }
    li {
      @include column(2, 6);
      margin-bottom: 30px;
    }
  }
  footer {
    clear: both;
  }
  @import "modules/jquery.fancybox";
  .fancybox-outer {
    background: #000;
  }
}