
    <section id="info">
      <article class="bio">
        <h3>Bio</h3>
        <p>Carlos Lamas is a freelance video editor from Minneapolis, working in post-production since 2005. He has edited television spots for national brands including Target, Kmart, Capital One, and Best Buy. He has also edited several music videos, and had his work featured on MTVU, Pitchfork, and Kanye West's blog. Carlos is a ridiculously dedicated fan of the Minnesota Timberwolves, and once co-hosted a podcast about the team.</p>
        <p>Carlos was raised bi-lingual, and loves to edit <a href="/spanish">in Spanish</a>.</p>
        <p>You can book Carlos directly, by emailing <a href="mailtp:carlos@carloslamas.tv">carlos@carloslamas.tv</a>.
      </article>
      <article class="contact">
        <h3>Contact</h3>
        <ul>
          <li><%= link_to 'losdelfuego', 'https://twitter.com/#!/losdelfuego', :class => 'twitter' %></li>
          <li><%= link_to 'carlos@carloslamas.tv', 'mailto:carlos@carloslamas.tv', :class => 'email' %></li>
          <li><%= link_to '(612) 424-5143', 'tel:1-612-424-5143', :class => 'phone' %></li>
        </ul>
      </article>
    </section>
