// Variables for media queries and breakpoints.

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1366px;
$breakpoint-widescreen: 1600px;
$breakpoint-retina: min-resolution 2dppx;

@mixin breakpoint($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
