// COLORS

$purple: #4c489e;

// BREAKPOINTS

$breakpoint-retina: min-resolution 2dppx;
$breakpoint-mobile-only: max-width 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$breakpoint-widescreen: 1560px;
