// COLORS

$purple: #4c489e;

// BREAKPOINTS

$breakpoint-retina-breakpoint: min-resolution 2dppx;
$breakpoint-mobile: max-width 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$breakpoint-widescreen: 1601px;