// Shared placeholder selectors used throughout the product and included at the top of the payload.
//
// No styleguide reference.

%hidden { display: none; }
%shown { display: inline; }
%inherited { display: inherit; }
%invisible { visibility: hidden; }
%visible { visibility: visible; }

@include breakpoint($breakpoint-tablet) {
  %hidden-tablet { display: none; }
}
