$default-font: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$custom-font: 'Univers LT Std', $default-font;

// Type Scale
//
// 16px - 1rem
// 21px - 1.333rem
// 28px - 1.777rem
// 38px - 2.369rem
// 50px - 3.157rem
// 67px - 4.209rem
// 89px - 5.61rem

html, body { font-size: 16px; }

body {
  color: $grey;
  font-family: $default-font;
  line-height: 1.5rem;
  text-rendering: optimizeSpeed;
  text-size-adjust: none;
}

@include breakpoint($breakpoint-desktop) {
  body {
    font-size: 16px;
    text-rendering: auto;
  }
}

// Headings

h1, h2, h3, h4, h5 { margin: 0; }
h1, h2, h5 { font-weight: normal; }

h1 {
  color: #fff;
  font-family: $custom-font;
  font-size: 3.157rem;
  line-height: 3.8125rem;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(0, 0, 0, .4);
}

h2 {
  color: rgba(255, 255, 255, .4);
  font-size: 1.333rem;
  line-height: 1.625rem;
  text-transform: lowercase;
}

h3 { color: #fff; }

h4 {
  color: $off-white;
  font-weight: 500;
}

h5 {
  color: $dark-grey;
  font-size: .875rem;
}

// Paragraphs

p { margin: 0 0 1.5rem 0; }

// Links

a {
  color: inherit;
  font-weight: bold;
}

// @include breakpoint($breakpoint-tablet) {
//   h3 {
//     align-items: center;
//     color: rgba(255, 255, 255, .3);
//     display: grid;
//     grid-template-columns: 1fr auto 1fr;
//     grid-gap: 1.5rem;
//     font-weight: normal;
//     text-transform: lowercase;
//     &::before, &::after {
//       border-top: 2px solid $purple;
//       content: '';
//     }
//   }

//   h4 { color: #fff; }
//   h5 { color: lighten($purple, 30%); }
// }

// @include breakpoint($breakpoint-desktop) {
//   h1 {
//     font-size: ms(8);
//     line-height: 9rem;
//     text-rendering: geometricPrecision;
//   }

//   h2, h3 { font-size: ms(2); }

//   a {
//     &:active {
//       position: relative;
//       top: 1px;
//     }
//   }
// }
