$default-font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$custom-font: 'Univers LT Std', $default-font-family;

// MODULAR SCALE
// 14px 16px 23px 26px 37px 42px 60px 68px 96px

$modularscale: (
  base: 14px 16px,
  ratio: $golden,
);

html, body { font-size: ms(0); }

body {
  color: #666;
  font-family: $default-font-family;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }
h1, h2, h5 { font-weight: normal; }

h1, .info-text {
  color: #fff;
  font-family: $custom-font;
  font-size: ms(7);
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

h2 {
  color: rgba(255, 255, 255, .3);
  font-size: ms(1);
  text-shadow: 0 -1px rgba(0, 0, 0, .3);
  text-transform: lowercase;
}

h3 {
  color: #fff;
  font-size: inherit;
}

h4 {
  color: rgba(0, 0, 0, .8);
}

h5 {
  color: rgba(0, 0, 0, .4);
  font-size: ms(0);
}

p { margin: 0 0 1rem 0; }

a {
  color: inherit;
  font-weight: bold;
  transition: all .25s;
  &:hover { color: #fff; }
}

@include breakpoint($breakpoint-tablet) {
  html, body { font-size: ms(1); }

  h3 {
    align-items: center;
    // color: rgba(255, 255, 255, .3);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1.5rem;
    font-family: $custom-font;
    font-size: ms(6);
    font-weight: normal;
    // letter-spacing: .05rem;
    text-transform: uppercase;
    &::before, &::after {
      border-top: 2px solid $purple;
      content: '';
    }
  }
  // h4 {
  //   color: #fff;
  //   font-size: 14px;
  //   line-height: 1.5;
  //   text-shadow: 0 -1px rgba(0, 0, 0, .3);
  // }

  // h5 {
  //   color: lighten($purple, 30%);
  //   font-size: 14px;
  //   text-shadow: 0 -1px rgba(0, 0, 0, .3);
  // }
}

@include breakpoint($breakpoint-desktop) {
  body { text-rendering: auto; }
  h1, .info-text { text-rendering: geometricPrecision; }
  // h1 { font-size: 100px; }
  // h2 { font-size: inherit; }
  // h3 { font-size: inherit; }
  // h4 { font-size: 16px; }

  a {
    &:active {
      position: relative;
      top: 1px;
    }
  }
}
