.icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  text-indent: -9999px;
}

.icon-close { background-image: url('/images/icons/close.svg'); }
.icon-email { background-image: url('/images/icons/email.svg'); }
.icon-phone { background-image: url('/images/icons/phone.svg'); }
.icon-play { background-image: url('/images/icons/chevron.right.svg'); }
.icon-twitter { background-image: url('/images/icons/twitter.svg'); }

@include breakpoint($breakpoint-desktop) {
  .icon-play { background-image: url('/images/icons/play.svg'); }
}
