.icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  text-indent: -9999px;
}

.icon-chevron-right { background-image: url('/images/icons/chevron.right.svg'); }
.icon-twitter { background-image: url('/images/icons/twitter.svg'); }
.icon-email { background-image: url('/images/icons/email.svg'); }
.icon-phone { background-image: url('/images/icons/phone.svg'); }
