.ribbon {
  backdrop-filter: blur(16px);
  background-color: fade_out($purple, .1);
  padding: 1rem;
  position: sticky;
  top: 0;
  @include z-index(front);

  @include breakpoint($breakpoint-tablet) { padding: 1rem 3rem; }
}
