.ribbon {
  backdrop-filter: blur(14px);
  background: $purple;
  background: fade_out($purple, .1);
  // box-sizing: border-box;
  // margin: 0 auto;
  max-width: $breakpoint-widescreen;
  padding: 1rem;
  position: sticky;
  top: 0;
  @include z-index(default);
  .commercial & { border-top-color: rgba(0, 0, 0, .5); }

  @include breakpoint($breakpoint-tablet) {
    border: 0;
    padding: 26px 40px;
  }

  @include breakpoint($breakpoint-desktop) { padding: 26px 60px; }
  @include breakpoint($breakpoint-widescreen) { padding: 30px; }
}